.tiptap-badge {
  /************************************************** 
    Default 
  **************************************************/
  --tt-badge-border-color: var(--tt-gray-dark-a-200);
  --tt-badge-border-color-subdued: var(--tt-gray-dark-a-200);
  --tt-badge-border-color-emphasized: var(--tt-gray-dark-a-500);
  --tt-badge-text-color: var(--tt-gray-dark-a-500);
  --tt-badge-text-color-subdued: var(
    --tt-gray-dark-a-400
  ); //less important badge
  --tt-badge-text-color-emphasized: var(
    --tt-gray-dark-a-600
  ); //more important badge
  --tt-badge-bg-color: var(--black);
  --tt-badge-bg-color-subdued: var(--black); //less important badge
  --tt-badge-bg-color-emphasized: var(--black); //more important badge
  --tt-badge-icon-color: var(--tt-gray-dark-a-500);
  --tt-badge-icon-color-subdued: var(
    --tt-gray-dark-a-400
  ); //less important badge
  --tt-badge-icon-color-emphasized: var(
    --tt-brand-color-400
  ); //more important badge

  /************************************************** 
    Ghost 
  **************************************************/

  &[data-style="ghost"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-gray-dark-a-200);
    --tt-badge-border-color-subdued: var(--tt-gray-dark-a-200);
    --tt-badge-border-color-emphasized: var(--tt-gray-dark-a-500);
    --tt-badge-text-color: var(--tt-gray-dark-a-500);
    --tt-badge-text-color-subdued: var(
      --tt-gray-dark-a-400
    ); //less important badge
    --tt-badge-text-color-emphasized: var(
      --tt-gray-dark-a-600
    ); //more important badge
    --tt-badge-bg-color: var(--transparent);
    --tt-badge-bg-color-subdued: var(--transparent); //less important badge
    --tt-badge-bg-color-emphasized: var(--transparent); //more important badge
    --tt-badge-icon-color: var(--tt-gray-dark-a-500);
    --tt-badge-icon-color-subdued: var(
      --tt-gray-dark-a-400
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(
      --tt-brand-color-400
    ); //more important badge
  }

  /************************************************** 
    Gray 
  **************************************************/

  &[data-style="gray"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-gray-dark-a-200);
    --tt-badge-border-color-subdued: var(--tt-gray-dark-a-200);
    --tt-badge-border-color-emphasized: var(--tt-gray-dark-a-500);
    --tt-badge-text-color: var(--tt-gray-dark-a-500);
    --tt-badge-text-color-subdued: var(
      --tt-gray-dark-a-400
    ); //less important badge
    --tt-badge-text-color-emphasized: var(--black); //more important badge
    --tt-badge-bg-color: var(--tt-gray-dark-a-100);
    --tt-badge-bg-color-subdued: var(
      --tt-gray-dark-a-50
    ); //less important badge
    --tt-badge-bg-color-emphasized: var(
      --tt-gray-dark-a-800
    ); //more important badge
    --tt-badge-icon-color: var(--tt-gray-dark-a-500);
    --tt-badge-icon-color-subdued: var(
      --tt-gray-dark-a-400
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(--black); //more important badge
  }

  /************************************************** 
    Green 
  **************************************************/

  &[data-style="green"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-color-green-dec-2);
    --tt-badge-border-color-subdued: var(--tt-color-green-dec-3);
    --tt-badge-border-color-emphasized: var(--tt-color-green-base);
    --tt-badge-text-color: var(--tt-color-green-inc-3);
    --tt-badge-text-color-subdued: var(
      --tt-color-green-inc-2
    ); //less important badge
    --tt-badge-text-color-emphasized: var(
      --tt-color-green-dec-5
    ); //more important badge
    --tt-badge-bg-color: var(--tt-color-green-dec-4);
    --tt-badge-bg-color-subdued: var(
      --tt-color-green-dec-5
    ); //less important badge
    --tt-badge-bg-color-emphasized: var(
      --tt-color-green-inc-1
    ); //more important badge
    --tt-badge-icon-color: var(--tt-color-green-inc-3);
    --tt-badge-icon-color-subdued: var(
      --tt-color-green-inc-2
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(
      --tt-color-green-dec-5
    ); //more important badge
  }

  /************************************************** 
    Yellow 
  **************************************************/

  &[data-style="yellow"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-color-yellow-dec-2);
    --tt-badge-border-color-subdued: var(--tt-color-yellow-dec-3);
    --tt-badge-border-color-emphasized: var(--tt-color-yellow-inc-1);
    --tt-badge-text-color: var(--tt-color-yellow-inc-3);
    --tt-badge-text-color-subdued: var(
      --tt-color-yellow-inc-2
    ); //less important badge
    --tt-badge-text-color-emphasized: var(
      --tt-color-yellow-dec-3
    ); //more important badge
    --tt-badge-bg-color: var(--tt-color-yellow-dec-4);
    --tt-badge-bg-color-subdued: var(
      --tt-color-yellow-dec-5
    ); //less important badge
    --tt-badge-bg-color-emphasized: var(
      --tt-color-yellow-base
    ); //more important badge
    --tt-badge-icon-color: var(--tt-color-yellow-inc-3);
    --tt-badge-icon-color-subdued: var(
      --tt-color-yellow-inc-2
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(
      --tt-color-yellow-dec-3
    ); //more important badge
  }

  /************************************************** 
    Red 
  **************************************************/

  &[data-style="red"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-color-red-dec-2);
    --tt-badge-border-color-subdued: var(--tt-color-red-dec-3);
    --tt-badge-border-color-emphasized: var(--tt-color-red-base);
    --tt-badge-text-color: var(--tt-color-red-inc-3);
    --tt-badge-text-color-subdued: var(
      --tt-color-red-inc-2
    ); //less important badge
    --tt-badge-text-color-emphasized: var(
      --tt-color-red-dec-5
    ); //more important badge
    --tt-badge-bg-color: var(--tt-color-red-dec-4);
    --tt-badge-bg-color-subdued: var(
      --tt-color-red-dec-5
    ); //less important badge
    --tt-badge-bg-color-emphasized: var(
      --tt-color-red-inc-1
    ); //more important badge
    --tt-badge-icon-color: var(--tt-color-red-inc-3);
    --tt-badge-icon-color-subdued: var(
      --tt-color-red-inc-2
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(
      --tt-color-red-dec-5
    ); //more important badge
  }

  /************************************************** 
    Brand 
  **************************************************/

  &[data-style="brand"] {
    /* Dark mode */
    --tt-badge-border-color: var(--tt-brand-color-700);
    --tt-badge-border-color-subdued: var(--tt-brand-color-800);
    --tt-badge-border-color-emphasized: var(--tt-brand-color-400);
    --tt-badge-text-color: var(--tt-brand-color-200);
    --tt-badge-text-color-subdued: var(
      --tt-brand-color-300
    ); //less important badge
    --tt-badge-text-color-emphasized: var(
      --tt-brand-color-950
    ); //more important badge
    --tt-badge-bg-color: var(--tt-brand-color-900);
    --tt-badge-bg-color-subdued: var(
      --tt-brand-color-950
    ); //less important badge
    --tt-badge-bg-color-emphasized: var(
      --tt-brand-color-400
    ); //more important badge
    --tt-badge-icon-color: var(--tt-brand-color-200);
    --tt-badge-icon-color-subdued: var(
      --tt-brand-color-300
    ); //less important badge
    --tt-badge-icon-color-emphasized: var(
      --tt-brand-color-900
    ); //more important badge
  }
}
