.tiptap-combobox-list {
  --tt-combobox-border-color: var(--tt-gray-dark-300);
  --tt-combobox-bg-color: var(--tt-gray-dark-100);
  --tt-combobox-text-color: var(--tt-gray-dark-a-800);

  --padding: 0.375rem;
  --border-width: 1px;

  height: 100%;
  border-radius: calc(
    var(--padding) + var(--tt-radius-lg) + var(--border-width)
  );
  border: var(--border-width) solid var(--tt-combobox-border-color);
  background-color: var(--tt-combobox-bg-color);
  color: var(--tt-combobox-text-color);
  padding: var(--padding);
  box-shadow: var(--tt-shadow-elevated-md);
  outline: none;

  max-width: 16rem;
  max-height: var(--popover-available-height);
  overflow-y: auto;
  margin-block: 0.375rem;

  &:empty {
    display: none !important;
  }
}
