.merge-tag {
  display: inline;
  user-select: none;
  cursor: default;

  &::before {
    content: "{{";
  }

  &::after {
    content: "}}";
  }

  &.ProseMirror-selectednode {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
}
